.lancamentoupload .application-body {
    flex-direction: column;
    /* justify-content: center;
    align-items: flex-start; */
}
.lancamentoupload .application-body>div{
    display: flex;
    flex-direction: row;
}

.lancamentoupload input[type='file'] {
    width: 30vw;
}